.tournament {
  white-space: nowrap;
  margin: 0.5rem;
}

textarea {
  width: 20rem;
}

.year {
  margin-left: 2rem;
}

.description {
  margin-top: 2rem;
}

#rankings a {
  text-decoration: none;
}

.ddcHeader {
  padding-bottom: 1rem;
}

.ddcHeader, .ddcCell {
  text-align: left;
  padding-left: 5rem;
}

.resultsTable a, .stats a {
  color: #666;
  text-decoration: none;
}

.mainStat {
  text-align: center;
  font-size: 1.3rem;
}

table {
    border-collapse: collapse;
}

td {
    padding: .3rem 1rem;
}

table.boxed, table.boxed th, table.boxed td {
    border: 1px solid black;
}

table.boxed th, table.boxed td {
    padding: 15px;
    text-align: left;
}
